* {
  margin: 0;
  padding: 0;
}

/* Navbar styling */
nav {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  display: flex;
  background-color: #fff;
  /* width: 100%; */
  justify-content: space-between;
  padding: 20px 45px;
  font-weight: 600;
  box-shadow: 3px 5px 3px #00000025;
  position: fixed;
  width: 100%;
  top: 0%;
  z-index: 100;
}

nav ul {
  display: flex;
  list-style: none;
  width: 30%;
  justify-content: space-between;
  align-items: center;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
}

nav ul li a:hover {
  color: #88a550;
  text-decoration: none;
}

.logo img {
  height: auto;
  display: flex;
  align-items: center;
}

/* Content */
.container {
  margin: 25% 50px 0px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  width: auto;
  z-index: 1;
}

.content-1 {
  background-color: #ffffff;
  box-shadow: 3px 5px 3px #00000025;
  padding: 25px;
  /* margin-right: 30px; */
  width: 50%;
  border-radius: 25px;
}

.judul {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}

.paragraf {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.paragraf p {
  padding-top: 20px;
}

.content-2 {
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 3px 5px 3px #00000025;
  /* margin-left: 30px; */
  height: 450px;
  width: 450px;
}

.baris-1 {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.baris-2 {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

/* Form */
#form {
  position: relative;
}

#text {
  display: block;
  color: #000000;
  font-weight: 400;
  font-style: italic;
  padding: 5px;
}

.formInput {
  width: 80%;
  height: 25px;
  border-radius: 10px;
  font-size: 15px;
  padding: 5px 10px;
  display: inline-block;
}

.formSubmit {
  background-color: #a5c05b; /* Green */
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 30px 0px 0px 20px;
  cursor: pointer;
  border-radius: 10px;
}

.formSubmit:hover {
  background-color: #88a550; /* Green */
  color: white;
}

/* Footer */
.assets {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-img {
  z-index: -1;
  margin-bottom: 0px;
  position: absolute;
  height: 400px;
}

/* Hamburger Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 21px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 5px;
  background-color: #88a550;
  border-radius: 5px;
  transition: all 0.5s;
}

/* Hamburger menu animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:last-child {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: #fa6775;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:last-child {
  background-color: #fa6775;
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* Responsive Breakpoint */
/* Extra small breakpoint*/
@media only screen and (max-width: 300px) {
  .formSubmit {
    background-color: #a5c05b; /* Green */
    border: none;
    color: black;
    padding: 7px 90px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 9px;
    margin: 10px auto 0px auto;
    cursor: pointer;
    border-radius: 5px;
  }

  .formInput {
    width: 95%;
    height: 20px;
    border-radius: 5px;
    font-size: 9px;
    padding: 2px 4px;
    display: flex;
    margin-top: 30px;
  }

  .assets {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-img {
    z-index: -1;
    margin-bottom: 0px;
    position: absolute;
    height: 100px;
  }

  .container {
    flex-direction: column;
    margin: 25% 30px 0px 30px;
  }

  .content-1 {
    background-color: #ffffff;
    box-shadow: 3px 5px 3px #00000025;
    padding: 20px;
    width: auto;
    border-radius: 25px;
  }

  .judul {
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
  }

  .paragraf {
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    font-weight: 400;
  }

  .paragraf p {
    padding-top: 20px;
  }

  .content-2 {
    margin-top: 30px;
    width: auto;
    height: auto;
  }

  .baris-1 {
    padding-top: 20px;
  }

  .baris-2 {
    padding-bottom: 20px;
  }

  .image {
    height: 110px;
    width: 110px;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo-logo {
    width: 170px;
  }

  nav {
    font-size: 13px;
    padding: 20px 45px;
    font-weight: 600;
  }

  nav ul {
    display: none;
  }
  /* Hamburger Menu */
  .menu-toggle {
    display: none;
  }
}

/* Super Duper Very Very Extra small devices (phones, 300px and up) */
@media only screen and (min-width: 300px) {
  #text {
    font-size: 11px;
  }

  .formSubmit {
    background-color: #a5c05b; /* Green */
    border: none;
    color: black;
    padding: 7px auto;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 11px;
    margin: 15px auto 0px auto;
    cursor: pointer;
    border-radius: 5px;
  }

  .formInput {
    width: 95%;
    height: 20px;
    border-radius: 5px;
    font-size: 13px;
    padding: 2px 4px;
    display: flex;
    margin-top: 30px;
  }

  .assets {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-img {
    z-index: -1;
    margin-bottom: 0px;
    position: absolute;
    height: 100px;
  }

  .container {
    flex-direction: column;
    margin: 30% 30px 0px 30px;
  }

  .content-1 {
    background-color: #ffffff;
    box-shadow: 3px 5px 3px #00000025;
    padding: 20px;
    width: auto;
    border-radius: 25px;
  }

  .judul {
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
  }

  .paragraf {
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    font-weight: 400;
  }

  .paragraf p {
    padding-top: 20px;
  }

  .content-2 {
    margin-top: 30px;
    width: auto;
    height: auto;
  }

  .baris-1 {
    padding-top: 20px;
  }

  .baris-2 {
    padding-bottom: 20px;
  }

  .image {
    height: 110px;
    width: 110px;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo-logo {
    width: 170px;
  }

  nav {
    font-size: 13px;
    padding: 20px 45px;
    font-weight: 600;
  }

  nav ul {
    display: none;
  }
  /* Hamburger Menu */
  .menu-toggle {
    display: none;
  }
}

/* Super Very Very Extra small devices (phones, 350px and up) */
@media only screen and (min-width: 350px) {
  .formSubmit {
    background-color: #a5c05b; /* Green */
    border: none;
    color: black;
    padding: 10px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 30px 0px 0px 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  .formInput {
    width: 67%;
    height: 20px;
    border-radius: 5px;
    font-size: 13px;
    padding: 2px 4px;
    display: inline-block;
  }

  .assets {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-img {
    z-index: -1;
    margin-bottom: 0px;
    position: absolute;
    height: 120px;
  }

  .container {
    flex-direction: column;
    margin: 25% 30px 0px 30px;
  }

  .content-1 {
    background-color: #ffffff;
    box-shadow: 3px 5px 3px #00000025;
    padding: 20px;
    width: auto;
    border-radius: 25px;
  }

  .judul {
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
  }

  .paragraf {
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    font-weight: 400;
  }

  .paragraf p {
    padding-top: 20px;
  }

  .content-2 {
    margin-top: 30px;
    width: auto;
    height: auto;
  }

  .baris-1 {
    padding-top: 20px;
  }

  .baris-2 {
    padding-bottom: 20px;
  }

  .image {
    height: 140px;
    width: 140px;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo-logo {
    width: 170px;
  }

  nav {
    font-size: 13px;
    padding: 20px 45px;
    font-weight: 600;
  }

  nav ul {
    display: none;
  }
  /* Hamburger Menu */
  .menu-toggle {
    display: none;
  }
}

/* Super Very Extra small devices (phones, 400px and up) */
@media only screen and (min-width: 400px) {
  .formSubmit {
    background-color: #a5c05b; /* Green */
    border: none;
    color: black;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 30px 0px 0px 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  .formInput {
    width: 67%;
    height: 20px;
    border-radius: 5px;
    font-size: 13px;
    padding: 2px 4px;
    display: inline-block;
  }

  .assets {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-img {
    z-index: -1;
    margin-bottom: 0px;
    position: absolute;
    height: 140px;
  }

  .container {
    flex-direction: column;
    margin: 23% 30px 0px 30px;
  }

  .content-1 {
    background-color: #ffffff;
    box-shadow: 3px 5px 3px #00000025;
    padding: 20px;
    width: auto;
    border-radius: 25px;
  }

  .judul {
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
  }

  .paragraf {
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    font-weight: 400;
  }

  .paragraf p {
    padding-top: 20px;
  }

  .content-2 {
    margin-top: 30px;
    width: auto;
    height: auto;
  }

  .baris-1 {
    padding-top: 20px;
  }

  .baris-2 {
    padding-bottom: 20px;
  }

  .image {
    height: 140px;
    width: 140px;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo-logo {
    width: 170px;
  }

  nav {
    font-size: 13px;
    padding: 20px 45px;
    font-weight: 600;
  }

  nav ul {
    display: none;
  }
  /* Hamburger Menu */
  .menu-toggle {
    display: none;
  }
}

/* Very Extra small devices (phones, 450px and up) */
@media only screen and (min-width: 450px) {
  .formSubmit {
    background-color: #a5c05b; /* Green */
    border: none;
    color: black;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 9px;
    margin: 30px 0px 0px 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  .formInput {
    width: 70%;
    height: 20px;
    border-radius: 5px;
    font-size: 13px;
    padding: 2px 4px;
    display: inline-block;
  }

  .assets {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-img {
    z-index: -1;
    margin-bottom: 0px;
    position: absolute;
    height: 170px;
  }

  .container {
    flex-direction: column;
    margin: 21% 30px 0px 30px;
  }

  .content-1 {
    background-color: #ffffff;
    box-shadow: 3px 5px 3px #00000025;
    padding: 20px;
    width: auto;
    border-radius: 25px;
  }

  .judul {
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
  }

  .paragraf {
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    font-weight: 400;
  }

  .paragraf p {
    padding-top: 20px;
  }

  .content-2 {
    margin-top: 30px;
    width: auto;
    height: auto;
  }

  .baris-1 {
    padding-top: 30px;
  }

  .baris-2 {
    padding-bottom: 30px;
  }

  .image {
    height: 170px;
    width: 170px;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo-logo {
    width: 170px;
  }

  nav {
    font-size: 13px;
    padding: 20px 45px;
    font-weight: 600;
  }

  nav ul {
    display: none;
  }
  /* Hamburger Menu */
  .menu-toggle {
    display: none;
  }
}

/* Extra small devices (phones, 500px and up) */
@media only screen and (min-width: 500px) {
  #text {
    font-size: 13px;
  }

  .formSubmit {
    background-color: #a5c05b; /* Green */
    border: none;
    color: black;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 9px;
    margin: 30px 0px 0px 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  .formInput {
    width: 60%;
    height: 16px;
    border-radius: 5px;
    font-size: 13px;
    padding: 2px 4px;
    display: inline-block;
  }

  .assets {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-img {
    z-index: -1;
    margin-bottom: 0px;
    position: absolute;
    height: 170px;
  }

  .container {
    flex-direction: column;
    margin: 18% 30px 0px 30px;
  }

  .content-1 {
    background-color: #ffffff;
    box-shadow: 3px 5px 3px #00000025;
    padding: 20px;
    width: auto;
    border-radius: 25px;
  }

  .judul {
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
  }

  .paragraf {
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    font-weight: 400;
  }

  .paragraf p {
    padding-top: 20px;
  }

  .content-2 {
    margin-top: 30px;
    width: auto;
    height: auto;
  }

  .baris-1 {
    padding-top: 30px;
  }

  .baris-2 {
    padding-bottom: 30px;
  }

  .image {
    height: 220px;
    width: 220px;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo-logo {
    width: 170px;
  }

  nav {
    font-size: 13px;
    padding: 20px 45px;
    font-weight: 600;
  }

  nav ul {
    display: none;
  }
  /* Hamburger Menu */
  .menu-toggle {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .formSubmit {
    background-color: #a5c05b; /* Green */
    border: none;
    color: black;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 9px;
    margin: 30px 0px 0px 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  .formInput {
    width: 60%;
    height: 16px;
    border-radius: 5px;
    font-size: 13px;
    padding: 2px 4px;
    display: inline-block;
  }

  .assets {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-img {
    z-index: -1;
    margin-bottom: 0px;
    position: absolute;
    height: 200px;
  }

  .container {
    flex-direction: column;
    margin: 14% 30px 0px 30px;
  }

  .content-1 {
    background-color: #ffffff;
    box-shadow: 3px 5px 3px #00000025;
    padding: 20px;
    width: auto;
    border-radius: 25px;
  }

  .judul {
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
  }

  .paragraf {
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    font-weight: 400;
  }

  .paragraf p {
    padding-top: 20px;
  }

  .content-2 {
    margin-top: 30px;
    width: auto;
    height: auto;
  }

  .baris-1 {
    padding-top: 0px;
  }

  .baris-2 {
    padding-bottom: 0px;
  }

  .image {
    height: 270px;
    width: 270px;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo-logo {
    width: 170px;
  }

  nav {
    font-size: 13px;
    padding: 20px 45px;
    font-weight: 600;
  }

  nav ul {
    display: none;
  }
  /* Hamburger Menu */
  .menu-toggle {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .formSubmit {
    background-color: #a5c05b; /* Green */
    border: none;
    color: black;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 30px 0px 0px 20px;
    cursor: pointer;
    border-radius: 10px;
  }

  .formInput {
    width: 65%;
    height: 16px;
    border-radius: 10px;
    font-size: 13px;
    padding: 5px 10px;
    display: inline-block;
  }

  .assets {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-img {
    z-index: -1;
    margin-bottom: 0px;
    position: absolute;
    height: 250px;
  }

  .container {
    margin: 11% 30px 0px 30px;
    flex-direction: row;
  }

  .content-1 {
    background-color: #ffffff;
    box-shadow: 3px 5px 3px #00000025;
    padding: 20px;
    width: 45%;
    border-radius: 25px;
  }

  .judul {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
  }

  .paragraf {
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    font-weight: 400;
  }

  .paragraf p {
    padding-top: 20px;
  }

  .content-2 {
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 3px 5px 3px #00000025;
    /* margin-left: 30px; */
    height: 300px;
    width: 300px;
  }

  .image {
    height: 140px;
    width: 140px;
  }

  .baris-1 {
    display: flex;
    align-items: center;
    padding-top: 12px;
  }

  .baris-2 {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo-logo {
    width: 170px;
  }

  nav {
    font-size: 13px;
    padding: 20px 45px;
    font-weight: 600;
  }

  nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
    align-items: center;
  }

  /* Hamburger Menu */
  .menu-toggle {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #text {
    font-size: 15px;
  }

  .formSubmit {
    background-color: #a5c05b; /* Green */
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 30px 0px 0px 20px;
    cursor: pointer;
    border-radius: 10px;
  }

  .formInput {
    width: 70%;
    height: 25px;
    border-radius: 10px;
    font-size: 13px;
    padding: 5px 10px;
    display: inline-block;
  }

  .assets {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-img {
    z-index: -1;
    margin-bottom: 0px;
    position: absolute;
    height: 300px;
  }

  .container {
    margin: 10% 40px 0px 40px;
    display: flex;
    justify-content: space-between;
    height: auto;
    width: auto;
    z-index: 1;
  }

  .content-1 {
    background-color: #ffffff;
    box-shadow: 3px 5px 3px #00000025;
    padding: 20px;
    /* margin-right: 30px; */
    width: 50%;
    border-radius: 25px;
  }

  .judul {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
  }

  .paragraf {
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    font-weight: 400;
  }

  .paragraf p {
    padding-top: 20px;
  }

  .content-2 {
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 3px 5px 3px #00000025;
    /* margin-left: 30px; */
    height: 350px;
    width: 350px;
  }

  .image {
    height: 160px;
    width: 160px;
  }

  .baris-1 {
    display: flex;
    align-items: center;
    padding-top: 12px;
  }

  .baris-2 {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo-logo {
    width: 170px;
  }

  nav {
    font-size: 15px;
    padding: 20px 45px;
    font-weight: 600;
  }

  nav ul {
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-between;
    align-items: center;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  nav {
    font-size: 20px;
    padding: 20px 45px;
    font-weight: 600;
  }
  /* Content */
  .container {
    margin: 9% 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    height: auto;
    width: auto;
    z-index: 1;
  }

  .content-1 {
    background-color: #ffffff;
    box-shadow: 3px 5px 3px #00000025;
    padding: 25px;
    /* margin-right: 30px; */
    width: 50%;
    border-radius: 25px;
  }

  .judul {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
  }

  .paragraf {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 400;
  }

  .paragraf p {
    padding-top: 20px;
  }

  .content-2 {
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 3px 5px 3px #00000025;
    /* margin-left: 30px; */
    height: 450px;
    width: 450px;
  }

  .baris-1 {
    display: flex;
    align-items: center;
    padding-top: 15px;
  }

  .baris-2 {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
  }

  .image {
    height: 200px;
    width: 200px;
  }

  /* Form */
  .formInput {
    width: 75%;
    height: 25px;
    border-radius: 10px;
    font-size: 13px;
    padding: 5px 10px;
    display: inline-block;
  }

  .formSubmit {
    background-color: #a5c05b; /* Green */
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 30px 0px 0px 20px;
    cursor: pointer;
    border-radius: 10px;
  }

  .formSubmit:hover {
    background-color: #88a550; /* Green */
    color: white;
  }

  /* Footer */
  .assets {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-img {
    z-index: -1;
    margin-bottom: 0px;
    position: absolute;
    height: 400px;
  }
}

@media only screen and (min-width: 1332px) {
  /* Content */
  .container {
    margin: 9% 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    height: auto;
    width: auto;
    z-index: 1;
  }

  .content-1 {
    background-color: #ffffff;
    box-shadow: 3px 5px 3px #00000025;
    padding: 25px;
    /* margin-right: 30px; */
    width: 50%;
    border-radius: 25px;
  }

  .judul {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
  }

  .paragraf {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 400;
  }

  .paragraf p {
    padding-top: 20px;
  }

  .content-2 {
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 3px 5px 3px #00000025;
    /* margin-left: 30px; */
    height: 450px;
    width: 450px;
  }

  .baris-1 {
    display: flex;
    align-items: center;
    padding-top: 15px;
  }

  .baris-2 {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
  }

  .image {
    height: 210px;
    width: 210px;
  }

  /* Form */
  .formInput {
    width: 80%;
    height: 25px;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px 10px;
    display: inline-block;
  }

  .formSubmit {
    background-color: #a5c05b; /* Green */
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 30px 0px 0px 20px;
    cursor: pointer;
    border-radius: 10px;
  }

  .formSubmit:hover {
    background-color: #88a550; /* Green */
    color: white;
  }

  /* Footer */
  .assets {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-img {
    z-index: -1;
    margin-bottom: 0px;
    position: absolute;
    height: 400px;
  }
}
